<mat-nav-list role="list">
  <mat-list-item role="listitem">

  </mat-list-item>

  <mat-divider></mat-divider>
  
  <mat-list-item class="side-item" role="listitem">
    <a class="sidebar-href" href="/itemlist">
      <i class="fa fa-home"></i>
      <span>首页</span>
    </a>
    <i class="fa fa-angle-right"></i>
  </mat-list-item>

  <mat-list-item class="side-item" role="listitem" *ngFor="let itemTitle of itemTitles" >
    <div style="flex:1">
      <span>{{itemTitle}}</span>
    </div>
    <i class="fa fa-angle-right"></i>
  </mat-list-item>
  
</mat-nav-list>

