<mat-grid-list cols="1">
    <mat-grid-tile class="title">
            <div class="shade"></div>
            <img class="title-image" src="{{content.image}}" alt="">
            <span class="title-text">{{content.title}}</span>
            <span class="title-image-source">图片：{{content.image_source}}</span>
    </mat-grid-tile>
    <!-- <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile> -->
</mat-grid-list>

<mat-card id="article-text" [innerHtml]="content.body"></mat-card>
<footer>
<app-content-footer></app-content-footer>
</footer>


