<mat-card class="example-card" *ngFor="let short_comment of short_comments">
    <mat-card-header>
      <div class="comment-author-info">
        <img class="comment-author-img" src="{{short_comment.avatar}}" alt="">
        <mat-card-title class="comment-author">{{short_comment.author}}</mat-card-title>
      </div>
      <mat-icon>thumb_up</mat-icon>
      <p class="comment-likes">{{short_comment.likes}}</p>
    </mat-card-header>
    <mat-card-content>
      <p class="comment-content">
          {{short_comment.content}}
      </p>
    </mat-card-content>
  </mat-card>