<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://pic2.zhimg.com/v2-9cefe1e33b8f6f8b7f45a7abca70eb35.jpg"  alt=""><span>生活中看见「本店概不负责、概不退换」，你可别被吓住了</span></div>
    <div class="swiper-slide"><img src="https://pic2.zhimg.com//v2-29a8fb8fba000c6fad4b7386c2c49c91.jpg"  alt=""><span>有些道理，我当了领导后才真正明白</span></div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
    <div class="swiper-slide">Slide 10</div>
  </div>
  <div class="swiper-pagination"></div>
</div>