/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body, app-content-root, md-sidenav-container, .site{
    width: 100%;
    height:100%;
    margin: 0
}

.site{
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.full-width {
    width: 100%;
}



/* footer {
    position:fixed; 
    bottom:0;
    width: 100%;
} */


/** 正文样式 */

.headline-background>a>div.heading{
    color: #9e9e9e; 
    text-decoration:none;
    display:block;
    font-size: 10px !important;
}

/* 外框边距 */
#article-text{
    padding: 0;
    margin-bottom: 10px;
}

/* 文章标题 */
.question-title {
    margin: 0px 0 10px 0;
    font-size: 20px;
}

/* 作者信息 */
.meta {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 作者头像 */
.avatar {
    width: 26px;
}

/* 作者名称 */
.author {
    font-weight: bold;
    font-size: 16px;
}

/* 个性签名 */
.bio {
    color: gray;
    font-weight: 500;
}

/* 正文文字 */
.content>p {
    font-size: 16px;
    color: #9e9e9e;
}

/* 正文粗体字 */
.content>p>strong {
    font-size: 16px;
    color: #616161; ;
}

.question {
    padding-left: 10px;
    padding-right: 10px;
}

#article-text .content-image {
    max-width: 100%;
}

figcaption {
    padding-top: 15px;
    margin: 0 auto;
    
}

.view-more {
    display:block;
    width:100%;
    height:25px;
    background:#e0e0e0;
}

.view-more>a {
    color: #9e9e9e; 
    text-decoration:none;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    display:block;
    font-size: 10px !important;
}


/* 评论样式 */
.comment {
    margin-top: 50px;
}

.comment-author-info{
    width: 100%;
    height: 100%;
}

.comment-author-img{
    border-radius:50%;
    width: 35px;
    height:35px;
    float: left;
}

.comment-author{
    font-weight: 600;
    font-size: 16px;
    margin-left: 35px;
    flex: 1;
}

.thumb {
    align-self: flex-end;
    margin-left: 90%;
}

.comment-likes{
    margin: 0 auto;
    font-size: 16px;
}

.comment-content{
    border: 10px auto;
}